Concatenating Strings

In [1]:
characters = ['p', 'y', 't', 'h', 'o', 'n']
word = "".join(characters)
word

'python'

List Comprehensions

In [2]:
m = [x ** 2 for x in range(5)]
print(m)

[0, 1, 4, 9, 16]

In [3]:
#let’s find the common numbers from two list using list comprehension
list_a = [1, 2, 3, 4]
list_b = [2, 3, 4, 5]
common_num = [a for a in list_a for b in list_b if a == b]
print(common_num)

[2, 3, 4]

Write a program that prints the numbers in a list, for multiples of ‘3’ print “fizz” instead of the number, for the multiples of ‘5’ print “buzz” and for multiples of both 3 and 5 it prints “fizzbuzz”.

In [8]:
numb = [12,15,7] # enumerate is used to get index and number
for i,num in enumerate(numb):
  if num%3==0 and num%5==0:
    numb[i]="fizzbuzz"
  elif num%3==0:
    numb[i]="fizz"
  elif num%5==0:
    numb[i]="buzz"
print(numb)

['fizz', 'fizzbuzz', 7]

In [11]:
# zip to combine several lists with the same length and print out the result
countries = ['France', 'Germany', 'Canada']
capitals = ['Paris', 'Berlin', 'Ottawa']
for country, capital in zip(countries,capitals):
    print(country,capital)

France Paris
Germany Berlin
Canada Ottawa

Suppose there are four teams playing in a tournament. In the league stages every team plays against every other team. Your task is to generate all the possible teams that would compete against each other.

In [12]:
import itertools
friends = ['Team 1', 'Team 2', 'Team 3', 'Team 4']
list(itertools.combinations(friends, r=2))

[('Team 1', 'Team 2'),
 ('Team 1', 'Team 3'),
 ('Team 1', 'Team 4'),
 ('Team 2', 'Team 3'),
 ('Team 2', 'Team 4'),
 ('Team 3', 'Team 4')]

In [15]:
from collections import Counter
count = Counter(['a','b','c','d','b','c','d','b'])
print(count)

Counter({'b': 3, 'c': 2, 'd': 2, 'a': 1})

In [16]:
# Convert Two Lists Into a Dictionary
students = ["Peter", "Julia", "Alex"]
marks = [84, 65, 77]
dictionary = dict(zip(students, marks))
print(dictionary)

{'Peter': 84, 'Julia': 65, 'Alex': 77}

Suppose you’ve been given to find the sum of the first 100000000 perfect squares, starting with 1.

In [18]:
import time
t1 = time.clock()
sum([i * i for i in range(1, 100000000)])
t2 = time.clock()
time_diff = t2 - t1
print(f"It took {time_diff} Secs to execute this method")

It took 13.890834 Secs to execute this method

In [19]:
t1 = time.clock()
sum((i * i for i in range(1, 100000000)))
t2 = time.clock()
time_diff = t2 - t1
print(f"It took {time_diff} Secs to execute this method")

It took 9.424458000000001 Secs to execute this method

Return Multiple Values From a Function

In [20]:
def multiplication_division(num1, num2):
    return num1*num2, num1/num2
product, division = multiplication_division(15, 3)
print("Product=", product, "Quotient =", division)

Product= 45 Quotient = 5.0

In [21]:
sorted([3,5,2,1,4])

[1, 2, 3, 4, 5]

In [22]:
sorted(['france', 'germany', 'canada', 'india', 'china'], reverse=True)

['india', 'germany', 'france', 'china', 'canada']